@use '../component/mixins.scss' as *;
@use '../component/display_mixins.scss' as *;

.left_div {
  margin-left: 300px;
}

.userbox {
  @include width-height(258px, 167px);
  @include display_flex-justify_content_space_between;
}

.profile {
  @include width-height(69px, 69px);
  @include background_image-size_cover-repeat_no_repeat(
    '../../public/imgs/Ellipse5.png'
  );
  border-radius: 50%;
}

.user {
  @include width-height(100px, auto);
}

.name {
  @include font_size-font_weight-line_height(26px, 700, 31.47px);
  margin: 0;
}

.email {
  @include font_size-font_weight-line_height(20px, 700, 28px);
  color: #5d6064;
  margin: 0;
}

.account {
  @include font_size-font_weight-line_height(14px, 500, 16.94px);
  color: #5d6064;
}

.oauthbox {
  @include width-height(85px, 85px);
  @include display_flex-flex_direction_column-justify_content_space_between;
  button {
    @include font_size-font_weight-line_height(10px, 500, 28px);
    padding: 2px 8.5px 2px 8.5px;
    border: none;
    border-radius: 20px;
    color: #5d6064;
  }
}

.oauth {
  @include width-height(25px, 25px);
  @include display_flex-align_items_center-justify_content_center;
  background-color: #dcdfe4;
  border-radius: 50%;
  svg {
    @include width-height(20px, 20px);
    color: #5d6064;
    opacity: 0.5;
  }
}

.calendar_div {
  @include display_flex-flex_direction_column-align_items_center-justify_content_space_around;
  @include width-height(330px, 360px);
  background-color: #f4f5fb;
}
