.chatbody {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.chatcontainer {
  width: 60%;
}

.chatbox {
  width: 20%;
}

.chatheader {
  display: flex;
  align-items: center;
}
