@use '../component/mixins.scss' as *;
@use '../component/display_mixins.scss' as *;

.header,
.navBar {
  @include display_flex-align_items_center;
}

.header {
  @include width-height(1920px, 80px);
}

.logo {
  @include background_image-size_cover-repeat_no_repeat(
    '../../public/imgs/logo.png'
  );
  @include width-height(100px, 40px);
  margin-left: 130px;
}

.navGroup,
.userGroup,
.user {
  @include display_flex-align_items_center-justify_content_space_around;
}

.navGroup {
  @include width-height(750px, 80px);
  margin-left: 470px;

  p {
    @include font_size-font_weight-line_height(18px, 600, 21.78px);
  }
}

.userGroup {
  @include width-height(250px, 80px);
}

.alram {
  @include background_image-size_cover-repeat_no_repeat(
    '../../public/imgs/alram.png'
  );
  @include width-height(28px, 28px);
  margin-top: 5px;
  margin-left: 50px;
}

.user {
  @include width-height(80px, 80px);

  p {
    @include font_size-font_weight-line_height(16px, 600, 19.36px);
  }
}

.userImage {
  @include background_image-size_cover-repeat_no_repeat(
    '../../public/imgs/Ellipse5.png'
  );
  @include width-height(30px, 30px);
}
